.headline{
    text-align: center;
    font-family: cursive;
}
#bookcard{
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
}
body{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20201026/pngtree-futuristic-shape-abstract-background-chemistry-technology-concept-for-website-image_438818.jpg");
    background-repeat: repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
footer{
    padding: 1.25em;
    border: 0.3125em;
    margin: 2.5em;
    background: black;
}
