:root{
    fsty: fade 1s ease-in 1s;
}
*{
    margin: auto auto;
    padding: auto;
    border: 100%;
    animation: fade 1s ease-in 1s;
    background-size: cover;
    size: 100%;
}
#logo{
    height: 10em;
    width: 5em;
    border-radius: 50%;
    margin: auto 50%;
    padding:7px;
    animation: var(fsty) ;
}
.headline{
    text-align: center;
    font-size: 5em;
    background: linear-gradient(to right, #cad925, #ab0a30, rgb(199, 24, 146), #cad925, #14c443);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(fsty);
    pointer-events: none;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
    background: linear-gradient(to right, rgb(11, 14, 163), rgb(165, 11, 127));
    animation: var(fsty);
}
body{
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-I_yD8PL69ru-3HMPNxVqNF3T8J6Vp2APLg&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
    animation: var(fsty);
}
a{
    color: cyan;
    animation: var(fsty);
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    animation: var(fsty);
}
.cn_chat{
    position: fixed;
    animation: var(fsty);
}
@media (max-width:500px){
    *{
        font-size: medium;
        margin: auto auto;
    }
    .headline{
        font-size: larger;
    }
    #logo{
        margin: auto;
    }
}
