*{
    margin: auto;
    padding: auto;
    border: auto;
}
#logo{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: auto 45%;
    padding:7px;
}
.headline{
    text-align: center;
    font-size: 5em;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 1s ease-in 1s /*iteration-count direction fill-mode*/;
    pointer-events: none;
    opacity: 0;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
}
body{
    color: white;
    background-image: url("https://images.unsplash.com/photo-1483232539664-d89822fb5d3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
footer{
    margin: 20px auto;
    padding: 5px;
    border-radius: 30px;
    background: lightsteelblue;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
}
a{
    color: cyan;
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: auto 30%;
}
.cn_chat{
    position: fixed;
}