*{
    backdrop-filter: blur(3px);
}
#logo{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: auto 45%;
}
.headline{
    text-align: center;
    font-family: cursive;
    font-size: 5em;
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
}
body{
    color: white;
    background-image: url("https://as2.ftcdn.net/v2/jpg/05/33/12/11/1000_F_533121127_kKW6BJyjQCajytQuQIByTZheE5YHF2Bl.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
footer{
    margin: 20px auto;
    padding: 5px;
    border-radius: 30px;
    background: lightsteelblue;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
}
a{
    color: cyan;
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: auto 30%;
}