body{
    color: white;
}
#logo{
    display: flex;
    justify-content: center;
    height: 5em;
    width: 5em;
    border-top-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: auto 50%;
}
.headline{
    text-align: center;
    font-family: cursive;
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/523/401/small/circuit-board-technology-background-purple-and-blue-light-banner-electronic-system-concept-vector.jpg");
    background-repeat: repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
footer{
    padding: 1.25em;
    border: 0.3125em;
    margin: 2.5em;
    background: black;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
}
a{
    color: white;
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: auto 30%;
}