body{
    color: white;
}
.headline{
    text-align: center;
    font-family: cursive;
}
#bookcard{
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/523/401/small/circuit-board-technology-background-purple-and-blue-light-banner-electronic-system-concept-vector.jpg");
    background-repeat: repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
footer{
    padding: 1.25em;
    border: 0.3125em;
    margin: 2.5em;
    background: black;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: 10% auto;
    border-radius: 10px;
}