*{
    margin: auto;
    padding: auto;
    border: auto;
}
#logo{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    margin: auto 45%;
    padding:7px;
    animation: fade 0.8s ease-in 1s ;
}
.headline{
    text-align: center;
    font-size: 5em;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 2s ease-in 1s /*iteration-count direction fill-mode*/;
    pointer-events: none;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
    background: linear-gradient(to right, rgb(11, 14, 163), rgb(11, 165, 163));
}
body{
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-I_yD8PL69ru-3HMPNxVqNF3T8J6Vp2APLg&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
}
a{
    color: cyan;
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: auto 30%;
}
.cn_chat{
    position: fixed;
}
@media (max-width:500px){
    .headline{
        font-size: medium;
    }
}