:root{
    fsty: fade 1s ease-in 1s;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    animation: fade 1s ease-in 1s;
    size: 100%;
}
#logo{
    height: 10em;
    width: 8em;
    border-radius: 50%;
    margin: auto 50%;
    padding:7px;
    animation: var(fsty) ;
}
.navbar{
    height: 70px;
    width: 100%;
    background: black;
    color: white;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
#wel-con{
    padding: 1em;
    background: linear-gradient(to right, purple, pink, cyan);
    margin-bottom: 1em;
    padding-bottom: 7em;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 0%, 100% 65%, 50% 100%, 0 65%, 0 0);
}
.headline{
    text-align: center;
    font-size: 5em;
    background: linear-gradient(to right, #cad925, #ab0a30, rgb(199, 24, 146), #cad925, #14c443);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: var(fsty);
    pointer-events: none;
}
.dropdown{
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: gray;
    border-top: 2px solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5em;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translate(-40%);
    transition: opacity 0.15s ease-out;
}
.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
}
.dropdown-item a{
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}
.dropdown-item a::before{
    content: '';
    border: 2px solid white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
#bookcard{
    background-color: rgba(0,0,0,0.3);
    padding: 0.3125em;
    margin: 0.3125em;
    border-radius: 0.1875em;
    background: linear-gradient(to right, rgb(11, 14, 163), rgb(165, 11, 127));
    animation: var(fsty);
}
body{
    color: white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-I_yD8PL69ru-3HMPNxVqNF3T8J6Vp2APLg&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: currentColor;
    text-decoration: none;
}
.identity{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    margin: auto 10%;
    border-radius: 20px;
    animation: var(fsty);
}
a{
    color: cyan;
    animation: var(fsty);
}
.btn-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    padding: 1rem;
    animation: var(fsty);
    gap: 0.5em;
}
.cn_chat{
    position: fixed;
    animation: var(fsty);
}
@media (max-width:500px){
    *{
        font-size: medium;
        margin: auto auto;
    }
    .headline{
        font-size: 2em;
    }
    #logo{
        margin: auto;
        height: 5em;
        width: 4em;
    }
}
