h1{
    text-align: center;
    color: black;
    text-decoration-color: black;
}
body{
    background-image: url("https://cdn.dribbble.com/users/120207/screenshots/5326041/media/3f7fa970dc2179910c31da0b898eb8b7.png");
    background-repeat: no-repeat;
    background-attachment: scroll,local;
    background-size: cover;
}
