h1{
    text-align: center;
    font-family: cursive;
}
#bookcard{
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}
body{
    background-image: url("https://paconsulting.imgix.net/assets/hero/avatar-digital-twin-blog-900-x-450.png?crop=focalpoint&domain=paconsulting.imgix.net&fit=crop&fm=webp&fp-x=0.5&fp-y=0.5&h=767&ixlib=php-3.3.1&q=82&usm=20&w=767&s=a80a212247d4201cba9853c691c80222");
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll,local;
}
